h1{
    text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: blue;
}
header{
    background-color:cornsilk
}
.owner-photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
    border: 2px solid #555;
}

.medical-photo{
    width: 50%;
    height: auto;
    
    border: 2px solid #555;
}
section{
    text-align: left;
}
h3{
    color: blue;
}
#searchInput{
    width: 300px; 
    height: 30px;
    border: radius 20%; 
    background-color: pink;
}
.searchButton{
    background-color: black;
    color: white;
    height: 30px;
}
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#searchInput {
    width: 350px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #1a75ff;
    border-radius: 20px 0 0 20px;
    outline: none;
}

#searchBtn {
    padding: 10px 20px;
    background-color: #1a75ff;
    color: white;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 18px;
}

.suggestion-container {
  background: white;
  border: 1px solid #ccc;
  width: 300px;
  position: absolute;
  z-index: 999;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #f0f0f0;
}


/*.owner-photo,.mapbox{
    width: 50%;
    max-width: 50%;
    height: auto;

}
.mapbox{
    height: 250px;
    border: #555;
}
@media(max-width:600px){
    .row{
        flex-direction: column;
    }
    .owner-photo,.mapbox{
        width: 100%;
        max-width: 100%;
    }
}*/

/*
.mapbox{
    width:400px;
    height:auto;
    border:2px solid #555 ;
}
.row{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}*/